<!DOCTYPE html>
<html>

<head>
	<title>Example</title>
	<script type="text/javascript" src="js/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<!-- <script type="text/javascript" href="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css"> -->
</head>

<body>
	<p>This is an example of a simple HTML page with one paragraph.</p>
	<a href="/member_page">/member_page</a>
</body>

</html>